<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos en Tiempo Real</title>
</head>
<body>
    <h1>Lista de Productos en Tiempo Real</h1>
    <ul id="productList">
        {{#each products}}
            <li>{{this}}</li>
        {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const productList = document.getElementById('productList');

        socket.on('updateProducts', (products) => {
            // Limpiar la lista actual de productos
            productList.innerHTML = '';

            // Agregar cada producto a la lista
            products.forEach(product => {
                const listItem = document.createElement('li');
                listItem.textContent = product;
                productList.appendChild(listItem);
            });
        });
    </script>
</body>
</html>